[Desktop Entry]
Name=Gnome Twitch 2
Comment=Watch your favorite Twitch streamers in an GTK app!
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=stream;video;twitch;live;games;
Exec=gnome-twitch-2
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=net.olback.GnomeTwitch2
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;AudioVideo;Player;Video;

